In [ ]:
#https://colab.research.google.com/github/Arize-ai/phoenix/blob/datasets/tutorials/experiments/txt2sql.ipynb#scrollTo=1HPMpWWkdFAs

In [1]:
# Launch Phoenix
import phoenix as px
px.launch_app()

üåç To view the Phoenix app in your browser, visit http://localhost:6006/
üìñ For more information on how to use Phoenix, check out https://docs.arize.com/phoenix

In [2]:
# Start tracing for OpenAI. 
# We will repurpose the OpenAI to use Ollama.
from phoenix.trace.openai import OpenAIInstrumentor
OpenAIInstrumentor().instrument()

In [3]:
import nest_asyncio
nest_asyncio.apply()

In [4]:
# Load the data
import duckdb
from datasets import load_dataset
data = load_dataset("suzyanil/nba-data")["train"]

In [5]:
# Change the date to correct format
import pandas as pd
df = data.to_pandas()
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                9840 non-null   int64
 1   Team                      9840 non-null   object
 2   Game                      9840 non-null   int64
 3   Date                      9840 non-null   datetime64[ns]
 4   Home                      9840 non-null   object
 5   Opponent                  9840 non-null   object
 6   WINorLOSS                 9840 non-null   object
 7   TeamPoints                9840 non-null   int64
 8   OpponentPoints            9840 non-null   int64
 9   FieldGoals                9840 non-null   int64
 10  FieldGoalsAttempted       9840 non-null   int64
 11  FieldGoals.               9840 non-null   float64
 12  X3PointShots              9840 non-null   int64
 13  X3PointShotsAttempted     9840 non-null   int64
 14  X3PointShots.             9840 non-null   float64
 15  FreeThrows                9840 non-null   int64
 16  FreeThrowsAttempted       9840 non-null   int64
 17  FreeThrows.               9840 non-null   float64
 18  OffRebounds               9840 non-null   int64
 19  TotalRebounds             9840 non-null   int64
 20  Assists                   9840 non-null   int64
 21  Steals                    9840 non-null   int64
 22  Blocks                    9840 non-null   int64
 23  Turnovers                 9840 non-null   int64
 24  TotalFouls                9840 non-null   int64
 25  Opp.FieldGoals            9840 non-null   int64
 26  Opp.FieldGoalsAttempted   9840 non-null   int64
 27  Opp.FieldGoals.           9840 non-null   float64
 28  Opp.3PointShots           9840 non-null   int64
 29  Opp.3PointShotsAttempted  9840 non-null   int64
 30  Opp.3PointShots.          9840 non-null   float64
 31  Opp.FreeThrows            9840 non-null   int64
 32  Opp.FreeThrowsAttempted   9840 non-null   int64
 33  Opp.FreeThrows.           9840 non-null   float64
 34  Opp.OffRebounds           9840 non-null   int64
 35  Opp.TotalRebounds         9840 non-null   int64
 36  Opp.Assists               9840 non-null   int64
 37  Opp.Steals                9840 non-null   int64
 38  Opp.Blocks                9840 non-null   int64
 39  Opp.Turnovers             9840 non-null   int64
 40  Opp.TotalFouls            9840 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(30), object(4)
memory usage: 3.1+ MB

C:\Users\Jigar\AppData\Local\Temp\ipykernel_21952\3920167961.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

In [6]:
# Create connection to the dataframe 
conn = duckdb.connect(database=":memory:", read_only=False)
conn.register("nba", df)

conn.query("SELECT * FROM nba limit 5").to_df().to_dict(orient="records")[0]

{'Unnamed: 0': 1,
 'Team': 'ATL',
 'Game': 1,
 'Date': Timestamp('2014-10-29 00:00:00'),
 'Home': 'Away',
 'Opponent': 'TOR',
 'WINorLOSS': 'L',
 'TeamPoints': 102,
 'OpponentPoints': 109,
 'FieldGoals': 40,
 'FieldGoalsAttempted': 80,
 'FieldGoals.': 0.5,
 'X3PointShots': 13,
 'X3PointShotsAttempted': 22,
 'X3PointShots.': 0.591,
 'FreeThrows': 9,
 'FreeThrowsAttempted': 17,
 'FreeThrows.': 0.529,
 'OffRebounds': 10,
 'TotalRebounds': 42,
 'Assists': 26,
 'Steals': 6,
 'Blocks': 8,
 'Turnovers': 17,
 'TotalFouls': 24,
 'Opp.FieldGoals': 37,
 'Opp.FieldGoalsAttempted': 90,
 'Opp.FieldGoals.': 0.411,
 'Opp.3PointShots': 8,
 'Opp.3PointShotsAttempted': 26,
 'Opp.3PointShots.': 0.308,
 'Opp.FreeThrows': 27,
 'Opp.FreeThrowsAttempted': 33,
 'Opp.FreeThrows.': 0.818,
 'Opp.OffRebounds': 16,
 'Opp.TotalRebounds': 48,
 'Opp.Assists': 26,
 'Opp.Steals': 13,
 'Opp.Blocks': 9,
 'Opp.Turnovers': 9,
 'Opp.TotalFouls': 22}

# Implement txt to sql

In [7]:
import os
import openai
client = openai.AsyncClient(base_url="http://localhost:11434/v1/", api_key="ollama") # repurpose the client to use Ollama

In [8]:
columns = conn.query("DESCRIBE nba").to_df().to_dict(orient="records")
columns # get the columns info. This will be used as part of the system prompt.

[{'column_name': 'Unnamed: 0',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Team',
  'column_type': 'VARCHAR',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Game',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Date',
  'column_type': 'TIMESTAMP_NS',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Home',
  'column_type': 'VARCHAR',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opponent',
  'column_type': 'VARCHAR',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'WINorLOSS',
  'column_type': 'VARCHAR',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'TeamPoints',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'OpponentPoints',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'FieldGoals',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'FieldGoalsAttempted',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'FieldGoals.',
  'column_type': 'DOUBLE',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'X3PointShots',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'X3PointShotsAttempted',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'X3PointShots.',
  'column_type': 'DOUBLE',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'FreeThrows',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'FreeThrowsAttempted',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'FreeThrows.',
  'column_type': 'DOUBLE',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'OffRebounds',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'TotalRebounds',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Assists',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Steals',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Blocks',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Turnovers',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'TotalFouls',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.FieldGoals',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.FieldGoalsAttempted',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.FieldGoals.',
  'column_type': 'DOUBLE',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.3PointShots',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.3PointShotsAttempted',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.3PointShots.',
  'column_type': 'DOUBLE',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.FreeThrows',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.FreeThrowsAttempted',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.FreeThrows.',
  'column_type': 'DOUBLE',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.OffRebounds',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.TotalRebounds',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.Assists',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.Steals',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.Blocks',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.Turnovers',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None},
 {'column_name': 'Opp.TotalFouls',
  'column_type': 'BIGINT',
  'null': 'YES',
  'key': None,
  'default': None,
  'extra': None}]

In [9]:
TASK_MODEL = "phi3"
CONFIG = {"model": TASK_MODEL}

# SIMPLE PROMPT

In [10]:
system_prompt = (
    "You are a SQL expert, and you are given a single table named nba with the following columns:\n"
    f"""{",".join(column["column_name"] + ": " + column["column_type"] for column in columns)}\n"""
    "Write a SQL query corresponding to the user's request. Return just the query text, "
    "with no formatting (backticks, markdown, etc.)."
)

In [11]:
# LLM function
async def generate_query(input):
    response = await client.chat.completions.create(
        model=TASK_MODEL,
        temperature=0,
        messages=[
            {
                "role": "system",
                "content": system_prompt,
            },
            {
                "role": "user",
                "content": input,
            },
        ],
    )
    return response.choices[0].message.content

In [12]:
query = await generate_query("Who won the most games?")
print(query)

 SELECT Team AS Winner FROM nba WHERE WinorLOSS = 'WIN' GROUP BY Team ORDER BY COUNT(*) DESC LIMIT 1;
Please note that this assumes a simplified representation of game outcomes and does not account for ties or other complexities in real-world data. The actual query might need adjustments based on the specific SQL dialect being used (e.g., MySQL, PostgreSQL) and additional details about how games are recorded if there's more than one per day.

In [13]:
# SQL function
def execute_query(query):
    return conn.query(query).fetchdf().to_dict(orient="records")


execute_query("SELECT Team AS Winner FROM nba WHERE WINorLOSS = 'W' GROUP BY Team ORDER BY COUNT(*) DESC LIMIT 1;")

[{'Winner': 'GSW'}]

In [14]:
conn.query("SELECT Team AS Winner, count(*) FROM nba WHERE WINorLOSS = 'W' GROUP BY Team ORDER BY COUNT(*) DESC").to_df().head()

  Winner  count_star()
0    GSW           265
1    SAS           230
2    HOU           217
3    TOR           215
4    CLE           211

In [15]:
# Test questions
questions = [
    "Which team won the most games?",
    "Which team won the most games in 2015?",
    "Who led the league in 3 point shots?",
    "Which team had the biggest difference in records across two consecutive years?",
    "What is the average number of free throws per year?",
]

In [16]:
# create a dataset in phonnix
import pandas as pd
# store the data above as a versioned dataset in phoenix.

ds = px.Client().upload_dataset(
    dataset_name="nba-questions", # name of dataset
    dataframe=pd.DataFrame({"question": questions}), # dataframe to load
    input_keys=["question"], # column that has the questions
)

# If you have already uploaded the dataset, you can fetch it using the following line
# ds = px.Client().get_dataset(name="nba-questions")

üì§ Uploading dataset...
üíæ Examples uploaded: http://localhost:6006/datasets/RGF0YXNldDox/examples
üóÑÔ∏è Dataset version ID: RGF0YXNldFZlcnNpb246MQ==

In [17]:
# function for the generating sql from text and checking if there was any error
async def text2sql(question):
    query = await generate_query(question)
    results = None
    error = None
    try:
        results = execute_query(query)
    except duckdb.Error as e:
        error = str(e)

    return {
        "query": query,
        "results": results,
        "error": error,
    }

In [18]:
# Test if there are no sql execution errors
def no_error(output):
    return 1.0 if output.get("error") is None else 0.0


# Test if the query has results
def has_results(output):
    results = output.get("results")
    has_results = results is not None and len(results) > 0
    return 1.0 if has_results else 0.0

In [19]:
# running and experiment for all the question and checking if there is error and if any result is generated by sql
from phoenix.experiments import run_experiment


# Define the task to run text2sql on the input question
def task(input):
    return text2sql(input["question"])


experiment = run_experiment(
    ds, task=task, evaluators=[no_error, has_results], experiment_metadata=CONFIG)

üß™ Experiment started.
üì∫ View dataset experiments: http://localhost:6006/datasets/RGF0YXNldDox/experiments
üîó View this experiment: http://localhost:6006/datasets/RGF0YXNldDox/compare?experimentId=RXhwZXJpbWVudDox

running tasks |          | 0/5 (0.0%) | ‚è≥ 00:00<? | ?it/s

‚úÖ Task runs completed.
üß† Evaluation started.

running experiment evaluations |          | 0/10 (0.0%) | ‚è≥ 00:00<? | ?it/s

üîó View this experiment: http://localhost:6006/datasets/RGF0YXNldDox/compare?experimentId=RXhwZXJpbWVudDox

Experiment Summary (07/22/24 03:17 PM -0400)
--------------------------------------------
     evaluator  n  n_scores  avg_score
0  has_results  5         5        0.2
1     no_error  5         5        0.4

Tasks Summary (07/22/24 03:17 PM -0400)
---------------------------------------
   n_examples  n_runs  n_errors
0           5       5         0

# Advanced

In [20]:
# A more advanced representation of the schema for the prompt
samples = conn.query("SELECT * FROM nba LIMIT 1").to_df().to_dict(orient="records")[0]

sample_rows = "\n".join(
    f"{column['column_name']} | {column['column_type']} | {samples[column['column_name']]}"
    for column in columns
)

print(sample_rows)

Unnamed: 0 | BIGINT | 1
Team | VARCHAR | ATL
Game | BIGINT | 1
Date | TIMESTAMP_NS | 2014-10-29 00:00:00
Home | VARCHAR | Away
Opponent | VARCHAR | TOR
WINorLOSS | VARCHAR | L
TeamPoints | BIGINT | 102
OpponentPoints | BIGINT | 109
FieldGoals | BIGINT | 40
FieldGoalsAttempted | BIGINT | 80
FieldGoals. | DOUBLE | 0.5
X3PointShots | BIGINT | 13
X3PointShotsAttempted | BIGINT | 22
X3PointShots. | DOUBLE | 0.591
FreeThrows | BIGINT | 9
FreeThrowsAttempted | BIGINT | 17
FreeThrows. | DOUBLE | 0.529
OffRebounds | BIGINT | 10
TotalRebounds | BIGINT | 42
Assists | BIGINT | 26
Steals | BIGINT | 6
Blocks | BIGINT | 8
Turnovers | BIGINT | 17
TotalFouls | BIGINT | 24
Opp.FieldGoals | BIGINT | 37
Opp.FieldGoalsAttempted | BIGINT | 90
Opp.FieldGoals. | DOUBLE | 0.411
Opp.3PointShots | BIGINT | 8
Opp.3PointShotsAttempted | BIGINT | 26
Opp.3PointShots. | DOUBLE | 0.308
Opp.FreeThrows | BIGINT | 27
Opp.FreeThrowsAttempted | BIGINT | 33
Opp.FreeThrows. | DOUBLE | 0.818
Opp.OffRebounds | BIGINT | 16
Opp.TotalRebounds | BIGINT | 48
Opp.Assists | BIGINT | 26
Opp.Steals | BIGINT | 13
Opp.Blocks | BIGINT | 9
Opp.Turnovers | BIGINT | 9
Opp.TotalFouls | BIGINT | 22

In [21]:
system_prompt = (
    "You are a SQL expert, and you are given a single table named nba with the following columns:\n\n"
    "Column | Type | Example\n"
    "-------|------|--------\n"
    f"{sample_rows}\n"
    "\n"
    "Write a DuckDB SQL query corresponding to the user's request. "
    "Return just the query text, with no formatting (backticks, markdown, etc.)."
)

print(system_prompt)

You are a SQL expert, and you are given a single table named nba with the following columns:

Column | Type | Example
-------|------|--------
Unnamed: 0 | BIGINT | 1
Team | VARCHAR | ATL
Game | BIGINT | 1
Date | TIMESTAMP_NS | 2014-10-29 00:00:00
Home | VARCHAR | Away
Opponent | VARCHAR | TOR
WINorLOSS | VARCHAR | L
TeamPoints | BIGINT | 102
OpponentPoints | BIGINT | 109
FieldGoals | BIGINT | 40
FieldGoalsAttempted | BIGINT | 80
FieldGoals. | DOUBLE | 0.5
X3PointShots | BIGINT | 13
X3PointShotsAttempted | BIGINT | 22
X3PointShots. | DOUBLE | 0.591
FreeThrows | BIGINT | 9
FreeThrowsAttempted | BIGINT | 17
FreeThrows. | DOUBLE | 0.529
OffRebounds | BIGINT | 10
TotalRebounds | BIGINT | 42
Assists | BIGINT | 26
Steals | BIGINT | 6
Blocks | BIGINT | 8
Turnovers | BIGINT | 17
TotalFouls | BIGINT | 24
Opp.FieldGoals | BIGINT | 37
Opp.FieldGoalsAttempted | BIGINT | 90
Opp.FieldGoals. | DOUBLE | 0.411
Opp.3PointShots | BIGINT | 8
Opp.3PointShotsAttempted | BIGINT | 26
Opp.3PointShots. | DOUBLE | 0.308
Opp.FreeThrows | BIGINT | 27
Opp.FreeThrowsAttempted | BIGINT | 33
Opp.FreeThrows. | DOUBLE | 0.818
Opp.OffRebounds | BIGINT | 16
Opp.TotalRebounds | BIGINT | 48
Opp.Assists | BIGINT | 26
Opp.Steals | BIGINT | 13
Opp.Blocks | BIGINT | 9
Opp.Turnovers | BIGINT | 9
Opp.TotalFouls | BIGINT | 22

Write a DuckDB SQL query corresponding to the user's request. Return just the query text, with no formatting (backticks, markdown, etc.).

In [22]:
# function to generate query
async def generate_query(input):
    response = await client.chat.completions.create(
        model=TASK_MODEL,
        temperature=0,
        messages=[
            {
                "role": "system",
                "content": system_prompt,
            },
            {
                "role": "user",
                "content": input,
            },
        ],
    )
    return response.choices[0].message.content


print(await generate_query("Which team won the most games in 2015?"))

 SELECT Team FROM nba WHERE YEAR(Date) = '2015' GROUP BY Team ORDER BY COUNT(*) DESC LIMIT 1;
Please note that this query assumes there is a column named `Year` extracted from the `Date` column, which was not present in your table description. If such functionality does not exist natively within DuckDB or if you prefer to avoid creating an additional computed column for year extraction, here's how it could be done:

```sql
SELECT Team FROM (
    SELECT
        Team, COUNT(*) AS GamesWonIn2015
    FROM nba
    WHERE EXTRACT(YEAR FROM Date) = '2015' AND WINorLOSS = 'W'
    GROUP BY Team
) AS SubQuery
ORDER BY GamesWonIn2015 DESC LIMIT 1;
```

In [23]:
# running the experiment on the dataset with same evaluators
experiment = run_experiment(
    ds, task=task, evaluators=[has_results, no_error], experiment_metadata=CONFIG
)

üß™ Experiment started.
üì∫ View dataset experiments: http://localhost:6006/datasets/RGF0YXNldDox/experiments
üîó View this experiment: http://localhost:6006/datasets/RGF0YXNldDox/compare?experimentId=RXhwZXJpbWVudDoy

running tasks |          | 0/5 (0.0%) | ‚è≥ 00:00<? | ?it/s

‚úÖ Task runs completed.
üß† Evaluation started.

running experiment evaluations |          | 0/10 (0.0%) | ‚è≥ 00:00<? | ?it/s

üîó View this experiment: http://localhost:6006/datasets/RGF0YXNldDox/compare?experimentId=RXhwZXJpbWVudDoy

Experiment Summary (07/22/24 03:18 PM -0400)
--------------------------------------------
     evaluator  n  n_scores  avg_score
0  has_results  5         5        0.6
1     no_error  5         5        0.6

Tasks Summary (07/22/24 03:18 PM -0400)
---------------------------------------
   n_examples  n_runs  n_errors
0           5       5         0

In [24]:
from phoenix.evals.models import OpenAIModel
from phoenix.experiments import evaluate_experiment
from phoenix.experiments.evaluators.llm_evaluators import LLMCriteriaEvaluator

llm_evaluator = LLMCriteriaEvaluator(
    name="is_sql",
    criteria="is_sql",
    description="the output is a valid SQL query and that it executes without errors",
    model=OpenAIModel(model='phi3', base_url='http://localhost:11434/v1', api_key='ollama'),
)

evaluate_experiment(experiment, evaluators=[llm_evaluator])

üß† Evaluation started.

running experiment evaluations |          | 0/5 (0.0%) | ‚è≥ 00:00<? | ?it/s

Traceback (most recent call last):
  File "c:\Users\Jigar\anaconda3\envs\langchain\Lib\site-packages\phoenix\experiments\functions.py", line 560, in async_evaluate_run
    result = await evaluator.async_evaluate(
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jigar\anaconda3\envs\langchain\Lib\site-packages\phoenix\experiments\evaluators\llm_evaluators.py", line 61, in async_evaluate
    return self._parse_eval_output(unparsed_response)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jigar\anaconda3\envs\langchain\Lib\site-packages\phoenix\experiments\evaluators\llm_evaluators.py", line 79, in _parse_eval_output
    raise RuntimeError(f"Could not parse LLM evaluation: {unparsed_response}")
RuntimeError: Could not parse LLM evaluation:  CRITERIA: the text is 'is_sql'
TEXT: {'query': ' SELECT AVG(FreeThrows) AS AvgFreeThrowsPerYear\nFROM nba;', 'results': [{'AvgFreeThrowsPerYear': 17.320630081300813}], 'error': None}
EXPLANATION: The provided text is a dictionary containing three key-value pairs - query, results and error. Upon examination of the value associated with the 'query' key ('SELECT AVG(FreeThrows) AS AvgFreeThrowsPerYear\nFROM nba;'), it appears to be an SQL statement that calculates the average number of free throws per year from a table named 'nba'. The syntax and structure are correct, assuming there is indeed such a column in this hypothetical database. Furthermore, since no error information has been provided (the value associated with the key 'error' is None), we can infer that if executed correctly on an appropriate SQL environment without any issues or modifications to fit specific system requirements, it should run successfully and produce expected results as shown under the 'results' field in this text.

The above exception was the direct cause of the following exception:

RuntimeError: evaluator failed for example id 'RGF0YXNldEV4YW1wbGU6NQ==', repetition 1


üîó View this experiment: http://localhost:6006/datasets/RGF0YXNldDox/compare?experimentId=RXhwZXJpbWVudDoy

Experiment Summary (07/22/24 03:18 PM -0400)
--------------------------------------------
  evaluator  n  n_errors                                          top_error  \
0    is_sql  5         1  RuntimeError("Could not parse LLM evaluation: ...

   n_scores  avg_score
0         4        0.5

Experiment Summary (07/22/24 03:18 PM -0400)
--------------------------------------------
     evaluator  n  n_scores  avg_score
0  has_results  5         5        0.6
1     no_error  5         5        0.6

Tasks Summary (07/22/24 03:18 PM -0400)
---------------------------------------
   n_examples  n_runs  n_errors
0           5       5         0

RanExperiment(id='RXhwZXJpbWVudDoy', dataset_id='RGF0YXNldDox', dataset_version_id='RGF0YXNldFZlcnNpb246MQ==', repetitions=1)

In [25]:
client

In [26]:
# Generate Dataimport json

from pydantic import BaseModel
import json

class Question(BaseModel):
    sql: str
    question: str


class Questions(BaseModel):
    questions: list[Question]

schema = "\n".join(f"{column['column_name']} | {column['column_type']} | {samples[column['column_name']]}" for column in columns)


synthetic_data_prompt = f"""
You are a SQL expert, and you are given a single table named nba with the following columns:

Column | Type | Example
-------|------|--------
{schema}

Generate SQL queries that would be interesting to ask about this table. Return the SQL query as a string, as well as the question that the query answers."""

response = await client.chat.completions.create(
    model=TASK_MODEL,
    temperature=0,
    messages=[
        {
            "role": "user",
            "content": synthetic_data_prompt,
        }
    ],
    tools=[
        {
            "type": "function",
            "function": {
                "name": "generate_questions",
                "description": "Generate SQL queries that would be interesting to ask about this table.",
                "parameters": Questions.model_json_schema(),
            },
        }
    ],
    tool_choice={"type": "function", "function": {"name": "generate_questions"}},
)


generated_questions = response.choices[0].message.content

print(generated_questions)

 Here are some possible questions and their corresponding SQL queries:

1. What is the total number of points scored by each team in all games?
   Query: SELECT Team, SUM(TeamPoints) AS TotalPoints FROM nba GROUP BY Team;
   Question: How many points did each NBA team score across all games played during a specific season or period?

2. Which teams have the highest field goal percentage (FG%) in this table and what are their FG% values?
   Query: SELECT Team, ROUND(SUM(FieldGoals) / SUM(FieldGoalsAttempted), 3) AS FieldGoalPercentage FROM nba GROUP BY Team ORDER BY FieldGoalPercentage DESC LIMIT 5;
   Question: Which NBA teams have the highest field goal percentage in this dataset and what are their respective FG% values?

3. How many three-point shots did each team attempt, make, and how does it compare to other players or seasons (if applicable)?
   Query: SELECT Team, SUM(X3PointShotsAttempted) AS Attempts, SUM(X3PointShots) AS Made FROM nba GROUP BY Team;
   Question: How many three-point shots did each NBA team attempt and make in this dataset? Can we compare these numbers to other teams or seasons for contextual understanding of their performance on 3-pointers?

4. Which players have the highest free throw percentage (FT%) among all turnovers made by a specific player, coach, or game situation (if applicable)?
   Query: SELECT PlayerName, ROUND(SUM(FreeThrows) / SUM(Turnovers), 3) AS FreeThrowPercentage FROM nba WHERE Turnover = 'SpecificPlayer' GROUP BY PlayerName ORDER BY FreeThrowPercentage DESC LIMIT 5;
   Question: Which NBA players have the highest free throw percentage among all turnovers made by a specific player, coach, or game situation? Can we identify any patterns in these numbers that may indicate areas for improvement during games where turnovers occur frequently?

5. How many total rebounds did each team get and how does it compare to other teams (if applicable)?
   Query: SELECT Team, SUM(TotalRebounds) AS Rebounds FROM nba GROUP BY Team ORDER BY Rebounds DESC LIMIT 5;
   Question: Which NBA teams have the highest number of total rebounds in this dataset? Can we identify any trends or patterns that may indicate a correlation between rebounding and winning games, based on these numbers alone (if applicable)?

In [27]:
import re

final_question = []

for item in re.split(r'\d\.', generated_questions):
    if item.strip().startswith(('What', 'Which', 'How')):
        sent_pieces = (re.split(r'\n', item))
        original_task = sent_pieces[0].strip()
        query = [q1 for q1 in [re.findall(r'(Query:)(.*)', st) for st in sent_pieces] if len(q1)>0][0][0][1].strip()
        question = [q2 for q2 in [re.findall(r'(Question:)(.*)', st) for st in sent_pieces] if len(q2)>0][0][0][1].strip()
        output_dict = {
            'task': original_task,
            'sql': query,
            'question': question
        }
        final_question.append(output_dict)

In [28]:
final_question

[{'task': 'What is the total number of points scored by each team in all games?',
  'sql': 'SELECT Team, SUM(TeamPoints) AS TotalPoints FROM nba GROUP BY Team;',
  'question': 'How many points did each NBA team score across all games played during a specific season or period?'},
 {'task': 'Which teams have the highest field goal percentage (FG%) in this table and what are their FG% values?',
  'sql': 'SELECT Team, ROUND(SUM(FieldGoals) / SUM(FieldGoalsAttempted), 3) AS FieldGoalPercentage FROM nba GROUP BY Team ORDER BY FieldGoalPercentage DESC LIMIT 5;',
  'question': 'Which NBA teams have the highest field goal percentage in this dataset and what are their respective FG% values?'},
 {'task': 'How many three-point shots did each team attempt, make, and how does it compare to other players or seasons (if applicable)?',
  'sql': 'SELECT Team, SUM(X3PointShotsAttempted) AS Attempts, SUM(X3PointShots) AS Made FROM nba GROUP BY Team;',
  'question': 'How many three-point shots did each NBA team attempt and make in this dataset? Can we compare these numbers to other teams or seasons for contextual understanding of their performance on 3-pointers?'},
 {'task': 'Which players have the highest free throw percentage (FT%) among all turnovers made by a specific player, coach, or game situation (if applicable)?',
  'sql': "SELECT PlayerName, ROUND(SUM(FreeThrows) / SUM(Turnovers), 3) AS FreeThrowPercentage FROM nba WHERE Turnover = 'SpecificPlayer' GROUP BY PlayerName ORDER BY FreeThrowPercentage DESC LIMIT 5;",
  'question': 'Which NBA players have the highest free throw percentage among all turnovers made by a specific player, coach, or game situation? Can we identify any patterns in these numbers that may indicate areas for improvement during games where turnovers occur frequently?'},
 {'task': 'How many total rebounds did each team get and how does it compare to other teams (if applicable)?',
  'sql': 'SELECT Team, SUM(TotalRebounds) AS Rebounds FROM nba GROUP BY Team ORDER BY Rebounds DESC LIMIT 5;',
  'question': 'Which NBA teams have the highest number of total rebounds in this dataset? Can we identify any trends or patterns that may indicate a correlation between rebounding and winning games, based on these numbers alone (if applicable)?'}]

In [29]:
generated_dataset = []
for q in final_question:
    try:
        result = execute_query(q["sql"])
        generated_dataset.append(
            {
                "input": q["question"],
                "expected": {
                    "results": result,
                    "error": None,
                    "query": q["sql"],
                },
                "metadata": {
                    "category": "Generated",
                },
            }
        )
    except duckdb.Error as e:
        print(f"Query failed: {q['sql']}", e)
        print("Skipping...")

generated_dataset[0]

Query failed: SELECT PlayerName, ROUND(SUM(FreeThrows) / SUM(Turnovers), 3) AS FreeThrowPercentage FROM nba WHERE Turnover = 'SpecificPlayer' GROUP BY PlayerName ORDER BY FreeThrowPercentage DESC LIMIT 5; Binder Error: Referenced column "Turnover" not found in FROM clause!
Candidate bindings: "nba.Turnovers", "nba.Opp.Turnovers"
Skipping...

{'input': 'How many points did each NBA team score across all games played during a specific season or period?',
 'expected': {'results': [{'Team': 'CLE', 'TotalPoints': 35150.0},
   {'Team': 'MEM', 'TotalPoints': 32572.0},
   {'Team': 'NOP', 'TotalPoints': 34287.0},
   {'Team': 'ORL', 'TotalPoints': 32983.0},
   {'Team': 'WAS', 'TotalPoints': 34309.0},
   {'Team': 'BRK', 'TotalPoints': 33541.0},
   {'Team': 'CHO', 'TotalPoints': 33675.0},
   {'Team': 'DAL', 'TotalPoints': 33435.0},
   {'Team': 'LAC', 'TotalPoints': 35168.0},
   {'Team': 'ATL', 'TotalPoints': 33776.0},
   {'Team': 'CHI', 'TotalPoints': 33475.0},
   {'Team': 'NYK', 'TotalPoints': 32722.0},
   {'Team': 'POR', 'TotalPoints': 34563.0},
   {'Team': 'BOS', 'TotalPoints': 34367.0},
   {'Team': 'HOU', 'TotalPoints': 35930.0},
   {'Team': 'LAL', 'TotalPoints': 33492.0},
   {'Team': 'MIN', 'TotalPoints': 34051.0},
   {'Team': 'TOR', 'TotalPoints': 34867.0},
   {'Team': 'DET', 'TotalPoints': 33256.0},
   {'Team': 'GSW', 'TotalPoints': 37244.0},
   {'Team': 'IND', 'TotalPoints': 33632.0},
   {'Team': 'MIA', 'TotalPoints': 32908.0},
   {'Team': 'MIL', 'TotalPoints': 33373.0},
   {'Team': 'SAC', 'TotalPoints': 33584.0},
   {'Team': 'OKC', 'TotalPoints': 35147.0},
   {'Team': 'PHI', 'TotalPoints': 32934.0},
   {'Team': 'PHO', 'TotalPoints': 34021.0},
   {'Team': 'SAS', 'TotalPoints': 34012.0},
   {'Team': 'DEN', 'TotalPoints': 34856.0},
   {'Team': 'UTA', 'TotalPoints': 32609.0}],
  'error': None,
  'query': 'SELECT Team, SUM(TeamPoints) AS TotalPoints FROM nba GROUP BY Team;'},
 'metadata': {'category': 'Generated'}}

In [30]:
generated_dataset

[{'input': 'How many points did each NBA team score across all games played during a specific season or period?',
  'expected': {'results': [{'Team': 'CLE', 'TotalPoints': 35150.0},
    {'Team': 'MEM', 'TotalPoints': 32572.0},
    {'Team': 'NOP', 'TotalPoints': 34287.0},
    {'Team': 'ORL', 'TotalPoints': 32983.0},
    {'Team': 'WAS', 'TotalPoints': 34309.0},
    {'Team': 'BRK', 'TotalPoints': 33541.0},
    {'Team': 'CHO', 'TotalPoints': 33675.0},
    {'Team': 'DAL', 'TotalPoints': 33435.0},
    {'Team': 'LAC', 'TotalPoints': 35168.0},
    {'Team': 'ATL', 'TotalPoints': 33776.0},
    {'Team': 'CHI', 'TotalPoints': 33475.0},
    {'Team': 'NYK', 'TotalPoints': 32722.0},
    {'Team': 'POR', 'TotalPoints': 34563.0},
    {'Team': 'BOS', 'TotalPoints': 34367.0},
    {'Team': 'HOU', 'TotalPoints': 35930.0},
    {'Team': 'LAL', 'TotalPoints': 33492.0},
    {'Team': 'MIN', 'TotalPoints': 34051.0},
    {'Team': 'TOR', 'TotalPoints': 34867.0},
    {'Team': 'DET', 'TotalPoints': 33256.0},
    {'Team': 'GSW', 'TotalPoints': 37244.0},
    {'Team': 'IND', 'TotalPoints': 33632.0},
    {'Team': 'MIA', 'TotalPoints': 32908.0},
    {'Team': 'MIL', 'TotalPoints': 33373.0},
    {'Team': 'SAC', 'TotalPoints': 33584.0},
    {'Team': 'OKC', 'TotalPoints': 35147.0},
    {'Team': 'PHI', 'TotalPoints': 32934.0},
    {'Team': 'PHO', 'TotalPoints': 34021.0},
    {'Team': 'SAS', 'TotalPoints': 34012.0},
    {'Team': 'DEN', 'TotalPoints': 34856.0},
    {'Team': 'UTA', 'TotalPoints': 32609.0}],
   'error': None,
   'query': 'SELECT Team, SUM(TeamPoints) AS TotalPoints FROM nba GROUP BY Team;'},
  'metadata': {'category': 'Generated'}},
 {'input': 'Which NBA teams have the highest field goal percentage in this dataset and what are their respective FG% values?',
  'expected': {'results': [{'Team': 'GSW', 'FieldGoalPercentage': 0.491},
    {'Team': 'LAC', 'FieldGoalPercentage': 0.471},
    {'Team': 'SAS', 'FieldGoalPercentage': 0.47},
    {'Team': 'MIL', 'FieldGoalPercentage': 0.469},
    {'Team': 'CLE', 'FieldGoalPercentage': 0.466}],
   'error': None,
   'query': 'SELECT Team, ROUND(SUM(FieldGoals) / SUM(FieldGoalsAttempted), 3) AS FieldGoalPercentage FROM nba GROUP BY Team ORDER BY FieldGoalPercentage DESC LIMIT 5;'},
  'metadata': {'category': 'Generated'}},
 {'input': 'How many three-point shots did each NBA team attempt and make in this dataset? Can we compare these numbers to other teams or seasons for contextual understanding of their performance on 3-pointers?',
  'expected': {'results': [{'Team': 'BOS', 'Attempts': 9397.0, 'Made': 3301.0},
    {'Team': 'HOU', 'Attempts': 11989.0, 'Made': 4248.0},
    {'Team': 'LAL', 'Attempts': 8056.0, 'Made': 2723.0},
    {'Team': 'MIN', 'Attempts': 6138.0, 'Made': 2120.0},
    {'Team': 'TOR', 'Attempts': 8674.0, 'Made': 3127.0},
    {'Team': 'DEN', 'Attempts': 8876.0, 'Made': 3126.0},
    {'Team': 'UTA', 'Attempts': 8290.0, 'Made': 2982.0},
    {'Team': 'DET', 'Attempts': 8479.0, 'Made': 2960.0},
    {'Team': 'GSW', 'Attempts': 9740.0, 'Made': 3868.0},
    {'Team': 'IND', 'Attempts': 7524.0, 'Made': 2725.0},
    {'Team': 'MIA', 'Attempts': 7858.0, 'Made': 2765.0},
    {'Team': 'MIL', 'Attempts': 6747.0, 'Made': 2423.0},
    {'Team': 'SAC', 'Attempts': 7116.0, 'Made': 2596.0},
    {'Team': 'OKC', 'Attempts': 8415.0, 'Made': 2883.0},
    {'Team': 'PHI', 'Attempts': 9303.0, 'Made': 3188.0},
    {'Team': 'PHO', 'Attempts': 8306.0, 'Made': 2814.0},
    {'Team': 'SAS', 'Attempts': 7269.0, 'Made': 2696.0},
    {'Team': 'ATL', 'Attempts': 9159.0, 'Made': 3279.0},
    {'Team': 'CHI', 'Attempts': 7959.0, 'Made': 2825.0},
    {'Team': 'NYK', 'Attempts': 7312.0, 'Made': 2547.0},
    {'Team': 'POR', 'Attempts': 9147.0, 'Made': 3368.0},
    {'Team': 'BRK', 'Attempts': 8656.0, 'Made': 2990.0},
    {'Team': 'CHO', 'Attempts': 8556.0, 'Made': 3019.0},
    {'Team': 'DAL', 'Attempts': 9585.0, 'Made': 3383.0},
    {'Team': 'LAC', 'Attempts': 8833.0, 'Made': 3242.0},
    {'Team': 'CLE', 'Attempts': 10096.0, 'Made': 3754.0},
    {'Team': 'MEM', 'Attempts': 7088.0, 'Made': 2452.0},
    {'Team': 'NOP', 'Attempts': 8042.0, 'Made': 2893.0},
    {'Team': 'ORL', 'Attempts': 7960.0, 'Made': 2735.0},
    {'Team': 'WAS', 'Attempts': 7567.0, 'Made': 2776.0}],
   'error': None,
   'query': 'SELECT Team, SUM(X3PointShotsAttempted) AS Attempts, SUM(X3PointShots) AS Made FROM nba GROUP BY Team;'},
  'metadata': {'category': 'Generated'}},
 {'input': 'Which NBA teams have the highest number of total rebounds in this dataset? Can we identify any trends or patterns that may indicate a correlation between rebounding and winning games, based on these numbers alone (if applicable)?',
  'expected': {'results': [{'Team': 'OKC', 'Rebounds': 15401.0},
    {'Team': 'CHI', 'Rebounds': 15006.0},
    {'Team': 'DET', 'Rebounds': 14811.0},
    {'Team': 'POR', 'Rebounds': 14798.0},
    {'Team': 'DEN', 'Rebounds': 14777.0}],
   'error': None,
   'query': 'SELECT Team, SUM(TotalRebounds) AS Rebounds FROM nba GROUP BY Team ORDER BY Rebounds DESC LIMIT 5;'},
  'metadata': {'category': 'Generated'}}]

In [31]:
synthetic_dataset = px.Client().upload_dataset(
    dataset_name="nba-golden-synthetic",
    inputs=[{"question": example["input"]} for example in generated_dataset],
    outputs=[example["expected"] for example in generated_dataset],
);

üì§ Uploading dataset...
üíæ Examples uploaded: http://localhost:6006/datasets/RGF0YXNldDoy/examples
üóÑÔ∏è Dataset version ID: RGF0YXNldFZlcnNpb246Mg==

In [32]:
run_experiment(
    synthetic_dataset, task=task, evaluators=[no_error, has_results], experiment_metadata=CONFIG
)

üß™ Experiment started.
üì∫ View dataset experiments: http://localhost:6006/datasets/RGF0YXNldDoy/experiments
üîó View this experiment: http://localhost:6006/datasets/RGF0YXNldDoy/compare?experimentId=RXhwZXJpbWVudDoz

running tasks |          | 0/4 (0.0%) | ‚è≥ 00:00<? | ?it/s

‚úÖ Task runs completed.
üß† Evaluation started.

running experiment evaluations |          | 0/8 (0.0%) | ‚è≥ 00:00<? | ?it/s

üîó View this experiment: http://localhost:6006/datasets/RGF0YXNldDoy/compare?experimentId=RXhwZXJpbWVudDoz

Experiment Summary (07/22/24 03:21 PM -0400)
--------------------------------------------
     evaluator  n  n_scores  avg_score
0  has_results  4         4        0.5
1     no_error  4         4        0.5

Tasks Summary (07/22/24 03:21 PM -0400)
---------------------------------------
   n_examples  n_runs  n_errors
0           4       4         0

RanExperiment(id='RXhwZXJpbWVudDoz', dataset_id='RGF0YXNldDoy', dataset_version_id='RGF0YXNldFZlcnNpb246Mg==', repetitions=1)